<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fumaMenos/src/css/styleReport.css">
    <title>Estadisticas</title>
</head>
<body>
    <div class="container1">
        <span style="--l: 'F'">F</span>
        <span style="--l: 'u'">u</span>
        <span style="--l: 'm'">m</span>
        <span style="--l: 'a'">a</span>
        <span style="--l: '-'">-</span>
    </div> <br>

    <div class="bas1" id="filter">
        <center><p><%= mensaje1 %></p>
        </center>

    </div> <br>

    <div class="bas2" id="filter">
        <center><p><%= mensaje2 %></p>
    </div> <br>

    <div class="bas3" id="filter">
        <center><p><%= mensaje3 %></p>
    </div> <br>

    <div class="bas4" id="filter">
        <center><p><%= mensaje4 %></p>
    </div> <br>

    <div class="bas5" id="filter">
        <center><p><%= mensaje5 %></p>
    </div> <br>

    <div class="bas6" id="filter">
        <center><p><%= mensaje6 %></p>
    </div> <br>

    <div class="bas7" id="filter">
        <center><p><%= mensaje7 %></p>
    </div> <br>
</body>
</html>